<h1> Bienvenue sur notre site de gossips ! </h1><br/>

<div class="text-center"
<p> Quel est ton nom ?  
<form action="/welcome/:id", method="get">
	<input type="hidden" name="authenticity_token">
	<input type="text" name= "first_name" value= "<% form_authenticity_token%>" >
	<input type="submit" name="Envoyer">
</form>
</p>
</div><br/>

<div class="text-center">
	<h2> Voici tous les gossips </h2>
	<% @gossips.each do |gossip| %>
	<p><a href="/gossips/<%=gossip.id%>"> <%= gossip.title %>, <%=gossip.user.first_name%> </a></p>
	<% end %>
</div>
