<h1> La team :</h1><br/>
<div class=text-center>
	<p> <a href="https://www.youtube.com/watch?v=xvmiCqrYqWo">Socrates</a> </p>
	<p> <a href="http://www.allocine.fr/film/fichefilm_gen_cfilm=188021.html" >El Dictator </a><p/>
	<p> <a href="https://www.youtube.com/watch?v=YfsEbPEKlj0">Cartapuce</a> <p/>
	<p> <a href="https://www.maxisciences.com/algorithme/mais-ou-est-charlie-un-scientifique-perce-le-secret-pour-le-trouver-en-quelques-secondes_art34300.html">Where is Lorry ? </a><p/>
	<p> <a href="https://www.gilbertmontagne.com/">Gigi </a><p/>
</div>